services:
  platform-rabbitmq:
    image: "rabbitmq:4-management"
    container_name: platform-rabbitmq
    ports:
      - "5672:5672"   # RabbitMQ Port
      - "15672:15672" # Management Plugin UI

  platform-sqlserver:  # <--- THIS name must match the 'Server=' part
    # image: mcr.microsoft.com/mssql/server:2022 ## SqlServer image works most of the cases
    image: mcr.microsoft.com/azure-sql-edge ## Use this if running on arm64
    container_name: platform-sqlserver
    environment:
      - ACCEPT_EULA=Y
      - MSSQL_SA_PASSWORD=YourPassword123
    ports:
      - "1433:1433"

  platform-service:
    build:
      context: ./PlatformService
      dockerfile: Dockerfile
    image: {your-docke-ruser}/platformservice
    ports:
      - "5001:8080"
    environment:
      - CommandService=http://commands-service:8080/api/c/platforms,
      - RabbitMQHost=platform-rabbitmq  # Match the service name above!
      - RabbitMQPort=5672
      - ConnectionStrings__PlatformsConn=Server=platform-sqlserver;Initial Catalog=platformsdb;User ID=sa;Password=YourPassword123;TrustServerCertificate=True;
      - Kestrel__Endpoints__Grpc__Protocols=Http2
      - Kestrel__Endpoints__Grpc__Url=http://platform-service:666
      - Kestrel__Endpoints__webApi__Protocols=Http1
      - Kestrel__Endpoints__webApi__Url=http://platform-service:8080
    depends_on:
      - platform-sqlserver
      - platform-rabbitmq

  commands-service:
    build:
      context: ./CommandsService
      dockerfile: Dockerfile
    image: {your-docke-ruser}/commandservice
    ports:
      - "6001:8080"
    environment:
      - RabbitMQHost=platform-rabbitmq  # Match the service name above!
      - RabbitMQPort=5672
      - GrpcPlatform=http://platform-service:666
    depends_on:
      - platform-service
      - platform-sqlserver
      - platform-rabbitmq
