apiVersion: apps/v1
kind: Deployment
metadata:
  name: rabbitmq
  labels:
    {{- include "micro.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.rabbitmq.replicaCount }}
  selector:
    matchLabels:
      app: rabbitmq
  template:
    metadata:
      labels:
        app: rabbitmq
    spec:
      containers:
        - name: rabbitmq
          image: {{ .Values.rabbitmq.image }}
          ports:
            - containerPort: {{ .Values.rabbitmq.service.port }}
            - containerPort: {{ .Values.rabbitmq.service.managementPort }}

---

apiVersion: v1
kind: Service
metadata:
  name: rabbitmq-service
  labels:
    {{- include "micro.labels" . | nindent 4 }}
spec:
  selector:
    app: rabbitmq
  ports:
    - protocol: TCP
      port: {{ .Values.rabbitmq.service.port }}
      targetPort: {{ .Values.rabbitmq.service.port }}
    - protocol: TCP
      port: {{ .Values.rabbitmq.service.managementPort }}
      targetPort: {{ .Values.rabbitmq.service.managementPort }}
